*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header{
    margin-left: 20px;
    margin-top: 10px;
}
.inline-block{
    display: inline;
}
.logo{
    
    width: 85px;
}
.Testo-Logo{
    font-size: 45px;
}
.vertical{
    vertical-align: middle;
}
/* Main */ 
main{
    height: 10000px;
    background-color: lightslategray;
    padding: 40px 0px;
}   
.conteiner{
    height: 1200px;;
    max-width: 1000px;;
    background-color: white;
    margin: 30px auto;
    border-radius: 20px;    
}
.bottone-azzurro{
    background-color: rgb(132, 219, 248);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.bottone-grigio{
    background-color: transparent;
    color: rgb(187, 187, 187);
    padding: 5px;
    border-radius: 10px;
}
.bottoni{
    border-bottom: 1px solid lightslategray;
    padding: 10px 0px 10px 20px;
}
.task{
    padding: 10px 0px 10px 20px;
}
ul{
    list-style-type: none;
}
li{
    margin: 16px 0px;
}
